# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/
release-artifacts/

# frontend code
node_modules/
dist/
public

# e2e tests
test-results/
playwright-report/
