body {
    user-select: none;
    -webkit-user-select: none;
    margin-top: 0.5em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $text;
    background-color: $background;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    max-width: 1200px;
    font-size: large;
}

body,
button,
input,
textarea,
select,
code {
    font-family:
        "Barlow",
        ui-sans-serif,
        -apple-system,
        "Arial",
        sans-serif;
}

article.preview,
textarea {
    max-height: 150vh;
}

article.preview {
    overflow: auto;
}

.db_cell {
    display: flex;
    flex-direction: column;
}

input[type="color"] {
    height: 3em;
    width: 4em;
}

.selectable {
    user-select: text;
    -webkit-user-select: text;
}

.popup_body {
    margin-top: 1em;
    padding: 1em;
    border-radius: 15px;
    background: $dark_background;
    overflow: scroll;
    max-height: 90vh;
}

.journal,
.popup_body {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.db_cell code,
.db_cell .clickable {
    font-size: xx-large;
}
.db_cell span {
    font-size: x-large;
}
.db_cell code,
.db_cell span {
    margin-top: 0.25em;
}

#stack {
    flex: 1;
    margin-bottom: 3em;
}

h1,
h2,
h3,
h4,
h5,
th {
    font-weight: bolder;
    filter: brightness(110%);
    text-transform: capitalize;
}

h1 {
    font-size: 130%;
}
h2 {
    font-size: 110%;
}
h3 {
    font-size: 100%;
}
h4 {
    font-size: 90%;
}
h5 {
    font-size: 80%;
}

.monospace *,
.monospace {
    font-family: ui-monospace, "Menlo", "Consolas", "Roboto Mono",
        "DejaVu Sans Mono", monospace;
}

.prime .blog_title,
.prime h2,
.prime h3 {
    border-bottom: 4px solid $light_background;
    padding-bottom: 0.5em;
}

article.prime {
    font-size: 115%;
}

article ul,
article ol {
    margin-top: 1em;
}

.prime h1 {
    font-size: 250%;
    line-height: normal;
}

textarea {
    resize: none;
}

#search_field,
textarea,
input,
select {
    padding: 0.5em;
    color: $text;
    border-radius: 5px;
    background: $dark_background;
    border: none;
    font-size: large;
}

.grid_column {
    width: 49%;
}

.thread_button {
    padding: 0;
    position: absolute;
    left: -0.75em;
    top: 1.25em;
}

.thread > .comment:before {
    content: "↑";
    font-size: x-large;
    margin-left: 46%;
}

ul.comments {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    list-style-type: none;
    border-left: 1px solid $frame;
    border-bottom: 1px solid $frame;
    border-top-left-radius: 10px;
}

.comments li .post_head:before {
    content: "—";
    color: $frame;
    text-indent: -0.7rem;
}

.comments li {
    margin: 0;
    padding: 0;
}

.comments .post_head .user_link {
    margin-left: 0;
}

.comments .post_head .user_link {
    background: $frame;
    padding: 0.5em;
    border-radius: 10px;
}

.comment .post_head,
.comment .post_bar {
    border: none;
    background: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.inbox .post_head {
    border-radius: 0;
}

.comment {
    font-size: medium;
    padding-left: 0.6rem;
}

.repost {
    cursor: pointer;
}

article {
    overflow: hidden;
}

.feed_item article {
    max-height: 150vh;
    position: relative;
}

.post_extension article {
    max-height: 40vh;
}

.prime .post_extension article {
    max-height: 150vh;
}

.feed_item {
    margin-bottom: 1em;
}

.post_extension,
.feed_item {
    border-radius: 10px;
    border: 1px solid $frame;
}

.active_element {
    border: 4px dashed orange;
}

.comments .post_head {
    padding-bottom: 0;
}

.post_head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: medium;
    padding: 0;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}

.prime .post_head {
    border-radius: 0px;
    border-bottom: 1px solid $frame;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
}

#tag_cloud {
    padding: 1em;
    justify-content: center;
    align-items: center;
    line-height: 210%;
    overflow: hidden;
}

#tag_cloud .tag {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.stands_out {
    background: $light_background;
    border-radius: 10px;
    border-bottom: 1px solid $dark_background;
    padding: 0.5em;
    margin-bottom: 1em;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
    color: $text;
    background: $frame;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.75em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.vertically_aligned {
    vertical-align: text-bottom;
}

.realm_span:hover,
.reply_tag:hover {
    filter: brightness(130%);
}

.icon_bar {
    justify-content: space-around;
}

.icon_link {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: small;
}

.icon_link svg {
    padding-bottom: 0.5rem;
}

.breakable,
.logs code {
    word-break: break-all;
}

code {
    color: $code;
}

pre {
    overflow: scroll;
}

a {
    color: $clickable;
    text-decoration: none;
}

a:visited {
    color: $visited_clickable;
}

a:hover {
    filter: brightness(120%);
    text-decoration: underline dotted;
}

a.iconed:hover {
    text-decoration: none;
}

a.external:hover {
    filter: brightness(120%);
    text-decoration: none;
}

a.external {
    border-radius: 5px;
    background: $clickable;
    color: $light_background;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

ul {
    list-style-type: square;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text;
    height: 23px;
}

path {
    fill: $text;
}

.vcentered {
    display: flex;
    align-items: center;
}

.dynamic_table {
    display: grid;
    row-gap: 2em;
    column-gap: 1em;
    grid-template-columns: auto auto auto auto;
}

.emoji_table {
    column-gap: 0;
    row-gap: 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.dynamic_table.tripple {
    grid-template-columns: 33% 33% 33%;
}

.two_columns_grid {
    display: grid;
    row-gap: 1em;
    grid-template-columns: 50% 50%;
}

footer {
    padding: 2em;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

header {
    display: flex;
    height: 2em;
    margin-bottom: 1em;
}

.yt_preview {
    margin-top: 1em;
    margin-bottom: 1em;
    aspect-ratio: 2/1;
    background: black;
    font-family: "Impact", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scroll_up_button {
    display: none;
    color: $dark_background;
    background: $clickable;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    opacity: 0.95;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
    cursor: pointer;
    bottom: 5%;
    right: 5%;
}

#scroll_up_button span {
    position: relative;
    bottom: 5%;
}

hr {
    border-style: none none none;
    border-top: 2px solid $frame;
    margin-top: 1em;
    margin-bottom: 1em;
}

.inactive {
    opacity: 0.3;
}

.selected {
    background: $frame;
    border-radius: 10px;
}

.unselected {
    background: none;
}

.reaction_button {
    cursor: pointer;
    color: $text;
    border-radius: 5px;
    font-weight: normal;
    padding: 0.75em;
    display: flex;
    align-items: center;
}

.reaction_button:hover {
    background: $frame;
}

.reaction_button path {
    fill: $clickable;
}

.reaction_button > code {
    padding-left: 0.3em;
}

article table,
article th,
article td {
    border: 1px solid $frame;
}

article,
.no_overflow {
    overflow-wrap: anywhere;
}

.prime article {
    margin-bottom: 2em;
    margin-top: 1em;
}

th {
    background: $frame;
}

td,
th {
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
}

.size1,
.size0 {
    font-size: 0.6em;
}
.size2 {
    font-size: 1em;
}
.size3 {
    font-size: 1.3em;
}
.size4 {
    font-size: 1.7em;
}
.size5 {
    font-size: 2em;
}
.size6 {
    font-size: 2.2em;
}
.size7 {
    font-size: 2.4em;
}
.size8 {
    font-size: 2.7em;
}
.size9 {
    font-size: 3em;
}
.size10 {
    font-size: 3.3em;
}

.centered {
    text-align: center;
    justify-content: center;
}

.text_centered {
    text-align: center;
}

#tail {
    flex: 1;
}

#stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

p > img {
    margin-top: 1em;
    margin-bottom: 1em;
}

.prime img {
    border-radius: 10px;
}

.comment img {
    max-width: 70%;
    border-radius: 10px;
    margin: 1em;
}

article img {
    max-width: 100%;
    max-height: 120vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.external_image_bar {
    background: $dark_background;
    color: $text;
    padding: 0.8em;
    text-align: center;
    font-family: monospace;
    font-size: xx-small;
    border-radius: 5px;
}

.padded_rounded {
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.current > img {
    border: 2px solid $accent;
}

.realm_span,
.reply_tag {
    padding: 0.5em;
}

.reply_tag,
.realm_tag {
    cursor: pointer;
    font-size: x-small;
    font-weight: bold;
    opacity: 0.9;
}

.reply_tag {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: $clickable;
}

a.reply_tag {
    color: $light_background;
    text-decoration: none;
}

.realm_tag {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
}

.top_framed {
    border-top: 1px solid $frame;
}

.framed {
    border: 1px solid $frame;
    padding: 0.5em;
    border-radius: 10px;
}

.post_extension {
    background: $light_background;
    margin: 1em;
    margin-bottom: 1em;
    font-size: medium;
    padding: 0.5em;
    border-radius: 10px;
}

#preview {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#preview > .button {
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    font-size: xx-large;
    color: white;
    width: 2em;
    height: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

#preview > .close {
    left: 50%;
    transform: translate(-50%, 0%);
}

#preview > .left_arrow {
    left: 1em;
}

#preview > .right_arrow {
    right: 1em;
}

#preview > img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.button_text {
    font-size: x-small;
}

.small_text {
    font-size: small;
}
.smaller_text {
    font-size: smaller;
}
.medium_text {
    font-size: medium;
}
.larger_text {
    font-size: larger;
}
.large_text {
    font-size: large;
}
.x_large_text {
    font-size: x-large;
}
.xx_large_text {
    font-size: xx-large;
}

.column_container {
    display: flex;
    flex-direction: column;
}

.post_bar {
    padding: 0.5em;
    justify-content: flex-end;
}

.prime .post_bar {
    border: none;
    margin-top: 1em;
    margin-bottom: 2em;
}

.flex_ended {
    justify-content: flex-end;
}

.row_container {
    display: flex;
    flex-wrap: wrap;
}

.max_width_col {
    flex: 1;
}

blockquote {
    border-left: 3px solid;
    padding-left: 0.5em;
}

.no_wrap {
    white-space: nowrap;
}

textarea:focus,
input:focus {
    outline: none;
}

a.accent,
.accent {
    color: $accent;
}

.vertically_spaced {
    margin-top: 2em;
    margin-bottom: 2em;
}

.active path {
    fill: black;
}

.accent path {
    fill: $accent;
}

.action path {
    fill: $clickable;
}

.clickable_color {
    color: $clickable;
}

.clickable {
    cursor: pointer;
}

.right_spaced {
    margin-right: 1rem;
}
.right_half_spaced {
    margin-right: 0.5rem;
}

.right_quarter_spaced {
    margin-right: 0.25rem;
}

.left_well_spaced {
    margin-left: 0.8rem;
}

.left_spaced {
    margin-left: 0.5rem;
}

.left_half_spaced {
    margin-left: 0.5rem;
}

.bottom_half_spaced {
    margin-bottom: 0.3em;
}

.top_spaced {
    margin-top: 1em;
}
.top_half_spaced {
    margin-top: 0.3em;
}

::placeholder {
    color: $text;
    opacity: 0.6;
}

#upgrade_banner {
    display: none;
    cursor: pointer;
}

.banner a,
.banner h3,
.banner h4 {
    color: black;
}

.banner a {
    text-decoration: underline;
}

.banner {
    background: $accent;
    color: black;
}

.banner,
.controversial,
.nsfw {
    text-align: center;
}

.comment .banner,
.comment .nsfw,
.comment .controversial,
.comment .deleted {
    margin: 1rem;
}

.banner,
.nsfw,
.controversial,
.deleted {
    padding: 1em;
}

.nsfw,
.controversial {
    color: $clickable;
}

.deleted {
    background: $frame;
}

.active {
    background: $accent;
    color: #111111;
}

.iconed {
    white-space: nowrap;
    margin: 0.5em;
    justify-self: center;
    width: 50%;
}

.iconed svg,
label svg {
    margin-right: 0.3em;
    align-items: center;
    position: relative;
    top: -2px;
}

.mobile_only {
    display: none;
}

.marginized {
    margin: 0.1em;
}

.post_box > article p,
.post_box > article h1,
.post_box > article h2,
.post_box > article h3,
.post_box > article h4,
.post_box > article h5,
.post_box > article h6,
.post_box > article pre,
.post_box > article table {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.post_box > article ol,
.post_box > article ul {
    padding-right: 0.5rem;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.fadeout {
    animation: fadeout 0.1s;
}

.fadein {
    animation: fadein 0.1s;
}

@media only screen and (max-width: 600px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    .fadein {
        animation: fadein 0.2s;
    }

    .dynamic_table {
        column-gap: 0;
        display: grid;
        row-gap: 2em;
        grid-template-columns: 50% 50%;
    }

    .iconed {
        justify-self: left;
    }

    .banner {
        border-radius: 0;
    }

    .prime img {
        border-radius: 0;
    }

    .spaced {
        padding: 0.5em;
    }

    .stands_out,
    .feed_item {
        border-radius: 0;
    }

    .feed_item {
        border: none;
        border-top: 1px solid $frame;
        padding-top: 1em;
        margin-bottom: 0.5em;
    }

    .popup_body {
        width: 80%;
    }

    a:hover {
        filter: none;
    }

    .realm_tag {
        font-size: x-small;
    }

    .db_cell {
        font-size: medium;
    }

    article img {
        width: 100%;
    }

    .mobile_only {
        display: inline;
    }

    .feed_item article img {
        width: 100%;
    }

    .prime .post_head,
    .post_head {
        border-radius: 0;
    }

    #tag_cloud {
        font-size: 80%;
    }

    .icon_link {
        font-size: small;
    }

    .desktop_only {
        display: none;
    }

    .prime h1 {
        font-size: 200%;
    }
}

.bottom_spaced {
    margin-bottom: 1em;
}

div.thumbnails img {
    height: 25px;
    width: 25px;
    object-fit: cover;
    margin: 0.15em;
    border-radius: 20px;
    border: 1px solid $text;
}

.gallery {
    position: relative;
    display: flex;
    justify-content: center;
}

div.thumbnails {
    width: 100%;
    bottom: 0;
    justify-content: center;
    margin-top: 0.4em;
    padding: 0.1em 0 0.1em 0;
}
